@font-face {
    font-family: 'Moji';
    src: url('../fonts/vazir-fonts/fonts/Vazir-Medium.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Moji;
}

body {
    background-color: #eee;
}

.sidebar {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .9)),
        url('./../Images/sideBarImage.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: -5px 7px 25px #999;
}